{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver", {
                "root": ["./src"],
                "alias": {
                    "api": "./src/api",
                    "constants": "./src/constants",
                    "services": "./src/services",
                    "utils": "./src/utils",
                    "fixtures": "./tests/fixtures",
                    "tests": "./tests"
                }
            }
        ]
    ]
}
